{% extends 'base.html' %}

{% block content %}

<form method="post" class="post-form">
  {{ form.csrf_token }}
    {{ form.email }}
    {{ form.password }}

    <p>이메일과 비밀번호를 입력하고 로그인버튼을 누르세요.<br><input type = "submit" value = "로그인"/> </p>
</form>
<li><a href="{{ url_for('register') }}">회원가입</a>

    {% if field or form.errors.items() or get_flashed_messages() %}
    <h1>오류입니다! 확인해주세요!!</h1>
    {% endif %}
    {% for field, errors in form.errors.items() %}
    <div class="flash">
    {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %}
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

{% endblock %}