{% extends 'base.html' %}

{% block content %}

    <form method="post" class="post-form">
        {{ form.csrf_token }}
        
          <label for="email">이메일</label>
          <input
            type="text"
            class="form-control"
            name="email"
            id="email"
            value="{{ form.email.data or '' }}"
          />
        
          <label for="password1">비밀번호</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            value="{{ form.password.data or '' }}"
          />
        
          <label for="password2">비밀번호 확인</label>
          <input
            type="password"
            class="form-control"
            name="password_check"
            id="password_check"
            value="{{ form.password_check.data or '' }}"
          />
        
          <label for="username">사용자 이름</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            value="{{ form.username.data or '' }}"
          />
        
        <br/>
        <button type="submit" >
          생성하기
        </button>
      </form>

      <br/><br/><br/>
      
      {% if field or errors in form.errors.items() or message in get_flashed_messages() or%}
      <h1>오류입니다! 확인해주세요!!</h1>
      {% endif %}
      {% for field, errors in form.errors.items() %}
      <div class="flash">
      {{ form[field].label }}: {{ ', '.join(errors) }}
      </div>
      {% endfor %}
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
 

{% endblock %}