{% extends "base.html" %}

{% block content %}

<a href="{{ url_for('getBook') }}">도서목록</a></br>
<a href="{{ url_for('returnBook') }}">반납하기</a></br>
<a href= "{{ url_for('logout') }}">로그아웃</a></br>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for rental in rentals %}
        {% with book=rental.book%}
            <div class="card" style="width: 18rem">
                <p><span >빌린사람</span> {{ rental.user.username }}</p>
                <img  src="{{ book.image_path }}" class="card-img-top" alt="" uk-img >
                <a href="{{ url_for('getBookDetail', book_id=book.id) }}">{{ book.name }}</a>
                <div> 평점 {{ book.rating }}</div>
                <p><span >대출일</span> {{ rental.rent_date }}</p>
                <p><span >반납일</span> {{ rental.return_date }}</p>
            </div>
        {% endwith %}
        {% endfor%}
    </div>
</div>

{% endblock %}
