{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <form action = "" method="post">
            <p><a class="btn btn-primary btn-lg" role="button" href="{{ url_for('get_book') }}">도서 재고관리하기</a></p>
            <p><a class="btn btn-primary btn-lg" role="button" href="{{ url_for('show_super_log') }}">모든사용자 기록보기</a></p>
            <p><a class="btn btn-primary btn-lg" role="button" href="{{ url_for('logout') }}">로그아웃</a></p>
        </form>
    </div>
</div>
        
{% endblock %}