{% extends "base.html" %} 
{% block content %}
<style>
      .container {
        width: 400px;
    }
</style>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="현우 도서관"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('get_book') }}">도서재고 관리하기</a></li>
            <li><a href="{{ url_for('show_super_log') }}">모든사용자 기록보기</a></li>
            <li><a href="{{ url_for('logout') }}">로그아웃</a></li>
        </ul>
        </div>
    </div>
</nav>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphocon-pencil"></span>
        &nbsp;&nbsp;책 상세정보</h3>
    </div>
    <div class="panel-body">
        <div class="media">
                <div class="media-left">
                    <div class="container">
                        <div class="col-md-12" style="padding-left: 0px;  padding-right: 0px;">
                            <img src="{{ book.image_path }}" class="img-responsive">
                        </div>
                    </div>
            </div>
            <div class="media-body">
                <h2 class="media-heading">제목: {{ book.name }}</h2></br>
                <h5>저자 : {{ book.author }}</h5>
                <h5>출판사 : {{ book.publisher }}</h5>
                <h5>쪽수 : {{ book.page_count }}</h5>
                <h5>출간일 : {{ book.published_at }}</h5>
                <p>설명 : {{ book.description }}</p>
                {% for comment in comments %}
                <h5>다른 사람들 댓글</h5>
                    <dt>{{ comment.user.name }}
                        {% if comment.rating %}
                        <span class="uk-label">{{ comment.rating }}점</span>
                        {% endif %}
                    </dt>
                    <dd><p>{{ comment.content}} {{ comment.date }}</p>
                    </dd>
                {% endfor %}
                <h5>댓글 쓰기</h5>
                <form action="{{ url_for('create_comment', book_id=book.id) }}", method="post">
                    <textarea class="uk-textarea" name="content" rows="3"></textarea>
                    <div class="uk-column-1-4">
                        <div><h4>별점</h4></div>
                        <div class="uk-form-controls">
                            <label><input class="uk-radio" type="radio" name="rating" value="1"> 1</label>
                            <label><input class="uk-radio" type="radio" name="rating" value="2"> 2</label>
                            <label><input class="uk-radio" type="radio" name="rating" value="3"> 3</label>
                            <label><input class="uk-radio" type="radio" name="rating" value="4"> 4</label>
                            <label><input class="uk-radio" type="radio" name="rating" value="5"> 5</label>
                        </div>
                        <div class="uk-margin">
                            <input class="uk-button uk-button-primary" type="submit" value="평점과 함께 댓글 작성"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <blockquote>{{ saying }}</blockquote>
            </div>
        </div>
    </div>
</div>

{% endblock %}
