{% extends 'base.html' %}


{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="현우 도서관"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a href="{{ url_for('show_super_log') }}">모든사용자 기록보기</a></li>
          <li><a href="{{ url_for('logout') }}">로그아웃</a></li>
      </ul>
      </div>
  </div>
</nav>


</br></br></br>
{% for message in get_flashed_messages() %}
<h1><div class="flash">{{ message }}</div></h1>
{% endfor %}


<div class="container">
  <div class="jumbotron">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for book in books.items %}
      <div class="col">
        <div class="card" style="width: 18rem">
          <img src="{{ book.image_path }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <a href="{{ url_for('get_book_detail', book_id=book.id) }}">{{ book.name }}</a>
            <h5>재고 : {{ book.stock }}</h5>
            <h5>별점 : {{ book.rating }}</h5>
            <h5>출판사 : {{ book.published_at }}</h5>
            <a href="/{{ book.id }}" class="btn btn-primary">자세히</a>
            <form action="/increase_book" method="post">
              <input hidden type="number" name="book_id" value="{{ book.id }}"/>
              <input class="uk-button uk-button-secondary uk-width-1-1" type = "submit" value="재고 추가하기"></form>
            </form>
            <form action="/decrease_book" method="post">
              <input hidden type="number" name="book_id" value="{{ book.id }}"/>
              <input class="uk-button uk-button-secondary uk-width-1-1" type = "submit" value="재고 감소하기"></form>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container">
  <ul>
      {% if books.has_prev %}
      <a href="#"></a>
      {% endif %}

      {% for page in books.iter_pages() %}
          {% if page == books.page %}
              <h2><strong><a href="?page={{ page }}">{{ page }}</a></strong></h2>
          {% else %}
              <a href="?page={{ page }}">{{ page }}</a>
          {% endif %}
      {% endfor %}

      {% if books.has_next %}
          <a href="#"></a>
      {% endif %}
  </ul>
</div>

{% endblock %}